.Product{
    max-width: 1440px;
    margin: 0 auto;
    &-List{
        padding: 0 15px;
        --spacing: 20px;
        --column: 3;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--spacing));
        margin-bottom: calc(-1 * var(--spacing));
        max-width: 1170px;
        margin: 0 auto;
        & > * {
            margin-left: var(--spacing);
            margin-bottom: var(--spacing);
            width: calc((100% / var(--column)) - var(--spacing));
        }
        &-Item{
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #eee;
            text-align: center;
            .Name{
                font: {
                    size: 20px;
                    weight : bold;
                };
                padding: 15px 0px;
                text-align: center;
            }
            .Price{
                font: {
                    size: 20px;
                    weight : bold;
                };
                text-align: center;
                padding: 15px 0px;
            }
            img {
                display: block;
                max-width: 100%;
                height: 200px;
                width: 100%;
                object-fit: cover;
                border-radius: inherit;
              }
            
        }
    }
}



  /* End base setting */
