.footer{
    margin: 100px 0px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .Block{
            line-height: 3;
            .Logo{
                .LogoPage{
                    max-width: 300px;
                    padding-bottom: 20px;
                    }
            }
            .txtHeading{
                color: #0d63f3;
                padding-bottom: 15px;
                font: {
                    size: 20px;
                    weight : bold;
                };
            }
            .txtdesc{
                color: #616161;
                font-weight: 500;
            }
            .Icons{
                margin-top: 10px;
                i{
                    font-size: 40px;
                }
                i:not(:first-child){
                    padding-left: 20px;
                }
            }
        }
    }
}