*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

img{
  display: block;
  max-width: 100%;
}
button{
  cursor: pointer;;
}
a{
  text-decoration: none;
}

body{
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

@import '../Layout/Header';

@import '../Layout/button';

@import '../Layout/SelectColor';

@import '../Layout/Table';

@import '../Layout/listCard';