*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
}
button{
  cursor: pointer;;
}
a{
  text-decoration: none;
  color: #56647d;
  font-weight: 500;
}

body{
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

// SCSS -- Header 

@import '../Layout/header';
