.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    .container{
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
        .header{
            display: flex;
            &-menu{
               display: flex;
               list-style: none;
               margin: 0 auto;
               &-item{
                   padding: 40px;
                   transition: transform 0.5s;
                   &:hover{
                    transform: scale(1.2);
                   }
                   &-link{
                       color: red;
                       background-color: coral;
                       padding: 10px 30px;
                       border-radius: 12px;
                       color: #FFFFFF;
                       
                       &:hover{
                           background-color: #0099ff;
                           color: white;
                       }
                   }
               }
            }
        }
    }
  }