
    .txtheader{
        
        margin: 50px 20px 25px;
        font: {
            size: 40px;
            weight:bold;
        }
        color: red;
        text-align: left;
    }
    .txtcart{
        font: {
            size: 30px;
            weight:bold;
        };
        color: red;
        padding: 10px;
        cursor: pointer;
        text-align: right;
    }
    .ListProduct{
        --spacing : 40px;
        --column : 3;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--spacing));
        margin-bottom: calc(-1 * var(--spacing));
        & > *{
            margin-left: var(--spacing);
            margin-bottom: var(--spacing);
            width: calc((100% / var(--column)) - var(--spacing));
        }
        &-card{
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #eee;
            img{
                height: 100px;
                width: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
            .content{
                
                &-name{
                    font: {
                        weight:bold;
                        size:20px
                    }
                }
                &-desc{
                    padding: 5px 5px;
                    text-align: left;
                    font: {
                        size:13px;
                        color: #CCC;

                    }
                    line-height: 30px;
                }
            }
        }
    }
   

   .ListProduct_Details{
       margin-top: 50px;
       border: 2px solid black;
       display: flex;
       
       padding: 15px 30px;
       &-Img{
           max-width: 500px;
       }
       &-Info{
           margin: 0 auto;
           .Title{
               font : {
                   size: 30px;
                   weight: bold;
               }
               text-transform: uppercase;
               letter-spacing: 20px;
               color: red;
           }
           .Price{
            font : {
                size: 30px;
                weight: bold;
            }
           }
           .CPU{
            font : {
                size: 30px;
                weight: bold;
            }
           }
       }
   }

   
