.Select{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-product{
        &-txt{
            font-size: 30px;
            font-weight: bold;
        }
        .img_zoom{
            border: 1px solid black;
            transition: 1s all;
            animation: scaleImg 1.5s ease-in-out; 
            img{
                max-width: 100%;
                max-height: 300px;
                margin: 0 auto;
            }
            .imgzz{
                
            }
        }
        
        @keyframes scaleImg {

            0%{
                opacity: 0;
                transform: scale(0);
            }
            100%{
                opacity: 1;
                transform: scale(1);
            }
            
        }
    }
    &-btn{
        margin-left: 30px;
        max-height: 200px;
        padding: 40px 40px;
        background-color: rgba(204, 204, 204, 0.5);
        &-change{
            padding: 12px 24px;
            border: 1px solid #FFFFFF;
            background: none;
            color:#FFFFFF;
            cursor: pointer;
            font-weight: bold;
            border-radius: 7px;
            margin: 35px;
            transition: transform 0.5s;
            &:hover{
                transform: scale(1.2);
                box-shadow: 0 5px 10px rgb(216, 145, 145);
            }
        }
        .red{
            background-color: red;
        }
        .black{
            background-color: BLack;
        }
        .pink{
            background-color: pink;
        }
       
    }
}