@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Mulish';
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper .container .header {
  margin: 50px;
}

.wrapper .container .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .container .header .menu-item {
  padding: 15px 30px;
  margin: 0 auto;
}

.wrapper .container .header .menu-item-link {
  font-size: 18px;
  font-weight: bold;
  color: #1e1e1e;
  padding: 15px 30px;
  border-radius: 40px;
}

.wrapper .container .header .menu-item-link:hover {
  background-color: #1e1e1e;
  color: white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.wrapper .container .banner .Img {
  max-height: 400px;
  border-radius: 40px;
  margin: 0 auto;
  -webkit-animation: scale 2s infinite forwards;
          animation: scale 2s infinite forwards;
}

@-webkit-keyframes scale {
  0%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes scale {
  0%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

.Product {
  max-width: 1440px;
  margin: 0 auto;
}

.Product-List {
  padding: 0 15px;
  --spacing: 20px;
  --column: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  margin-bottom: calc(-1 * var(--spacing));
  max-width: 1170px;
  margin: 0 auto;
}

.Product-List > * {
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  width: calc((100% / var(--column)) - var(--spacing));
}

.Product-List-Item {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #eee;
  text-align: center;
}

.Product-List-Item .Name {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0px;
  text-align: center;
}

.Product-List-Item .Price {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px;
}

.Product-List-Item img {
  display: block;
  max-width: 100%;
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

/* End base setting */
.btn {
  padding: 10px 20px;
  border-radius: 12px;
  text-align: center;
  border: 0;
}

.primary {
  background-color: #0099ff;
  color: white;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.primary:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.primary:active {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
/*# sourceMappingURL=style.css.map */